@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>PM Systems ist ein modernes Projektmanagement-System, welches unter Verwendung des MVC-Modells auf ASP.NET aufbaut.</p>
