@{
    ViewBag.Title = "Home Page";
}

<h1>Herzlich Willkommen bei PM System</h1>

<p>Herzlich Willkommen auf unserer Homepage. Wir freuen uns, sie hier begrüßen zu dürfen. Zum @Html.ActionLink("Login", "../Login") geht es hier lang.</p>